.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #323232;
}

form {
    background-color: #1f1d1d;
    padding: 1rem;
    border-radius: .8rem;

}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

button {
    background-color: rgb(26, 26, 176);
    border: 1px solid rgb(26, 26, 176);
    border-radius: .3rem;
    color: aliceblue;
    padding: .5rem;
    margin-top: .5rem;
}